- 
  const sponsors = [
    {
      name: "BONSAI STUDIO 株式会社",
      link: "./",
      logo: "BONSAISTUDIO",
    },
    {
      name: "フューチャー株式会社",
      link: "https://www.future.co.jp",
      logo: "future",
    },
    {
      name: "株式会社Helpfeel",
      link: "https://recruit-engineer.helpfeel.com/",
      logo: "helpfeel",
    },
    {
      name: "株式会社ほぼ日",
      link: "https://www.1101.com/n/s/boshu_sm",
      logo: "hobonichi",
    },
    {
      name: "STORES 株式会社",
      link: "https://jobs.st.inc/",
      logo: "STORES",
    },
    {
      name: "株式会社　数理設計研究所",
      link: "./",
      logo: "template_sponser",
    },
    {
      name: "チームラボ",
      link: "https://www.team-lab.com/recruit/fresh/?utm_source=wiss&utm_medium=web&utm_campaign=wiss",
      logo: "teamlab",
    },
    {
      name: "株式会社TwoGate",
      link: "https://twogate.com",
      logo: "twogate",
    },
    {
      name: "ユニティ・テクノロジーズ・ジャパン株式会社",
      link: "https://unity.com/ja",
      logo: "unity",
    },
    {
      name: "ヤマハ株式会社",
      link: "./",
      logo: "yamaha",
    },
  ]

h2 企業スポンサー（五十音順）
.row
  each sponsor in sponsors
    - const image_path = "./assets/sponsors/" + sponsor["logo"] + ".png"
    .col-lg-4.col-md-6.col-12.text-center
      a(href=sponsor["link"])
        img.img-fluid(src=image_path alt=sponsor["name"])
        p #{sponsor["name"]}
